@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

body > * {
  padding: 10px 10px;
}

.header {
  padding: 0px;
}
.header__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
}
.header__logoImg {
  width: 30%;
}
.header__localisation {
  padding: 15px 0px 15px 91px;
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  border-top: 3px solid lightgray;
}
.header__localisation input {
  border: none;
  background: #EAEAEA;
}

.bloc__text {
  padding: 0;
}

.text {
  background-color: #F6F6F6;
  padding: 0;
}
.text__bolder {
  margin: 0;
  padding: 20px 91px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
.text__normal {
  margin: 0;
  text-align: center;
  line-height: 1;
  color: #6f6a6a;
}

.selector {
  padding: 20px 105px 50px;
}
.selector__text {
  box-shadow: 3px 3px 3px 3px rgba(238, 238, 238, 0.968627451);
  text-align: center;
  margin: 0;
  background: linear-gradient(to bottom, #e47feb, #b33bc7);
  padding: 15px 0px 15px;
  font-size: 14px;
  color: white;
  border-radius: 25px;
}

.blocBtn {
  padding: 0;
}

.bloc__title {
  margin: 0;
  font-size: 18px;
  font-weight: bolder;
  padding-top: 35px;
  padding-left: 20px;
}

.position {
  margin: 0;
  background: #9356DC;
  position: relative;
  left: -8px;
  top: 73px;
  border-radius: 20px;
  width: 25px;
  height: 25px;
}
.position__number {
  position: absolute;
  left: 9px;
  top: 7px;
  color: white;
  font-size: 12px;
}
.position__logo {
  position: relative;
  left: 30px;
  top: 53px;
  color: darkgray;
}

.btn {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.btn__text {
  box-shadow: 3px 3px 3px 3px rgba(238, 238, 238, 0.968627451);
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(246, 246, 246, 0.831372549);
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  margin: 0;
  padding: 35px 45px 25px;
}
.btn__text:hover {
  background-color: #f6dff8;
}

.section {
  margin-top: 60px;
  background-color: #F6F6F6;
  padding: 0;
}
.section__card {
  padding: 0px 20px 50px;
}

.restaurant {
  margin: 0;
  padding-top: 30px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bolder;
}
.restaurant__card {
  box-shadow: 3px 3px 3px 3px rgba(238, 238, 238, 0.968627451);
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  position: relative;
  height: 242px;
  border: 2px solid white;
  margin-top: 25px;
}
.restaurant__img {
  border-radius: 20px 20px 0px 0px;
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nouveau {
  padding: 0px 125px;
  position: absolute;
  top: 20px;
  left: 97px;
}
.nouveau__green {
  background-color: #99E2D0;
  margin: 0;
  padding: 5px 14px;
  font-size: 12px;
}

.fa-heart {
  padding: 10px 20px 0px;
}
.fa-heart:hover {
  color: #9356DC;
}

.titleCard {
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
}
.titleCard__comment {
  margin: 0;
  font-size: 14px;
  padding-top: 5px;
  padding-left: 10px;
}

.footer {
  padding: 0;
  background-color: rgb(48, 48, 54);
}
.footer__title {
  font-family: Shrikhand;
  width: 30%;
  font-weight: bolder;
  color: white;
  padding-left: 20px;
  padding-top: 15px;
  margin: 0;
}

i.fa-solid.fa-utensils {
  padding-right: 10px;
}

i.fa-solid.fa-handshake-angle {
  padding-right: 5px;
}

ul {
  line-height: 1.5;
  color: white;
  list-style: none;
  padding-left: 20px;
  padding-bottom: 20px;
}

/*PAGE 1 */
.fa-arrow-left {
  padding-left: 15px;
}

.logoHeader {
  padding: 0;
}
.logoHeader__img1 {
  display: flex;
  padding: 5px 10px 5px;
}
.logoHeader__img {
  width: 30%;
  padding-left: 100px;
}

.imgMenu {
  width: 100%;
  height: 190px;
}

.fa-regular {
  padding-top: 30px;
}

.main {
  border-radius: 80px 80px 0px 0px;
  background-color: #F6F6F6;
  position: relative;
  top: -45px;
}

.titleMenu {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.titleMenu__para {
  font-family: Shrikhand;
  font-weight: bolder;
}/*# sourceMappingURL=style.css.map */