@keyframes nora {
    0% {
      opacity: 0;
      transform: translate(0px, 50%);
    }
  
    100% {
      transform: translate(0);
    }
  }
  
  @keyframes checkValid {
    0% {
    transform: rotate(0,5turn);
    }
  100% {
   transform: rotate(1turn);
    }
  }
  
  @keyframes checkValid {
    0% {
    transform: rotate(0,5turn);
    }
  100% {
   transform: rotate(1turn);
    }
  }
  @keyframes spinLeft {
    from {transform:rotate(0deg);}
    to {transform:rotate(720deg);}
  }
  
  @keyframes spinRight {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
  }
  @keyframes disapear {
    0% {
      z-index: 9000;
    }
  
    100% {
        opacity: 0;
      z-index: -1;
    }
  }
  