
.header {

 padding: 0px;


  &__logo {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;



    &Img {
      width: 120px;
    }
  }

  &__localisation {
    padding: 15px 0px 15px 91px;
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    border-top: 3px solid lightgray;



    input {
      border: none;
      background: #EAEAEA;
    }

  }
}


.sectionText{
  padding:0;
  .text {

    background-color: $bckcolor;
  
  
  
    &__bolder {
      margin: 0;
      padding: 20px 91px;
      font-size: 20px;
      font-weight: bolder;
      text-align: center;
  
    }
  
    &__normal {
      margin: 0;
      text-align: center;
      line-height: 1;
      color: #6f6a6a;
    }
  
  }
  
}


