/**/
$primary: #9356DC;
$secondary: #FF79DA;
$tertiaire: #99E2D0;
$bckcolor: #F6F6F6;
$btncolors: #f6f6f6d4;
$bckgfooter: #0000;
$selectorcolor: linear-gradient(to bottom, $secondary, $primary);
$backgroundwhite:#ffff;
$text-white:#ffff;
